@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html {
	box-sizing: border-box;
}

:root {
	--greenLCDLight: #86ed07;
	--greenLCDDark: #204e09;

	--blueLCDLight: #b9e5ff;
	--blueLCDDark: #2e4f9e;

	--grayLCDLight: #bbc2bd;
	--grayLCDDark: #44474c;

	--greenCRTLight: #86fcbc;
	--greenCRTDark: #071b00;

	--amberCRTLight: #fcd20e;
	--amberCRTDark: #190a05;

	--whiteCRTLight: #b5fbfd;
	--whiteCRTDark: #111622;
}

*, *::before, *::after {
	box-sizing: inherit;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: rgb(30, 30, 30);
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	display: flex;
	justify-content: center;
	margin: 20px;
}

button {
	font-weight: bolder;
	border: none;
	font-size: 18px;
	padding: 10px;
	margin-top: 5px;
}

.buttonGreenLCD {
	background-color: var(--greenLCDDark);
	color: var(--greenLCDLight);
}

.buttonBlueLCD {
	background-color: var(--blueLCDDark);
	color: var(--blueLCDLight);
}

.buttonGrayLCD {
	background-color: var(--grayLCDDark);
	color: var(--grayLCDLight);
}

.buttonGreenCRT {
	background-color: var(--greenCRTDark);
	color: var(--greenCRTLight);
}

.buttonAmberCRT {
	background-color: var(--amberCRTDark);
	color: var(--amberCRTLight);
}

.buttonWhiteCRT {
	background-color: var(--whiteCRTDark);
	color: var(--whiteCRTLight);
}

button.buttonGreenLCD:hover {
	background-color: var(--greenLCDLight);
	color: var(--greenLCDDark);
}

button.buttonBlueLCD:hover {
	background-color: var(--blueLCDLight);
	color: var(--blueLCDDark);
}

button.buttonGrayLCD:hover {
	background-color: var(--grayLCDLight);
	color: var(--grayLCDDark);
}

button.buttonGreenCRT:hover {
	background-color: var(--greenCRTLight);
	color: var(--greenCRTDark);
}

button.buttonAmberCRT:hover {
	background-color: var(--amberCRTLight);
	color: var(--amberCRTDark);
}

button.buttonWhiteCRT:hover {
	background-color: var(--whiteCRTLight);
	color: var(--whiteCRTDark);
}

#uiContainer {
	min-width: 250px;
	width: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(10, 10, 10);
	gap: 15px;
}

.uiContainerGreenLCD {
	color: var(--greenLCDLight);
}

.uiContainerBlueLCD {
	color: var(--blueLCDLight);
}

.uiContainerGrayLCD {
	color: var(--grayLCDLight);
}

.uiContainerGreenCRT {
	color: var(--greenCRTLight);
}

.uiContainerAmberCRT {
	color: var(--amberCRTLight);
}

.uiContainerWhiteCRT {
	color: var(--whiteCRTLight);
}

.gridSize {
	width: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
}

.gridSize label, 
.gridSize p{
	text-align: center;
}

.inputGreenLCD {
	background-color: var(--greenLCDLight);
	color: var(--greenLCDDark);
}

.inputBlueLCD {
	background-color: var(--blueLCDLight);
	color: var(--blueLCDDark);
}

.inputGrayLCD {
	background-color: var(--grayLCDLight);
	color: var(--grayLCDDark);
}

.inputGreenCRT {
	background-color: var(--greenCRTLight);
	color: var(--greenCRTDark);
}

.inputAmberCRT {
	background-color: var(--amberCRTLight);
	color: var(--amberCRTDark);
}

.inputWhiteCRT {
	background-color: var(--whiteCRTLight);
	color: var(--whiteCRTDark);
}

#themes select {
	font-weight: bold;
	font-size: 14px;
}

#sketchContainer{
	border: 10px;
	border-style: solid;
	border-color: rgb(10, 10, 10);
	display: flex;
	flex-wrap: wrap;
	box-sizing: content-box;
	flex: 0 0 auto;
}

.sketchContainerGreenLCD {
	background-color: var(--greenLCDLight);
}

.sketchContainerBlueLCD {
	background-color: var(--blueLCDDark);
}

.sketchContainerGrayLCD {
	background-color: var(--grayLCDLight);
}

.sketchContainerGreenCRT {
	background-color: var(--greenCRTDark);
}

.sketchContainerAmberCRT {
	background-color: var(--amberCRTDark);
}

.sketchContainerWhiteCRT {
	background-color: var(--whiteCRTDark);
}

#sketchContainer div {
	border-width: 1px;
	border-style: solid;
	box-sizing: border-box;
}

.blockGreenLCD {
	border-color: var(--greenLCDLight);
	background-color: var(--greenLCDDark);
}

.blockBlueLCD {
	border-color: var(--blueLCDDark);
	background-color: var(--blueLCDLight);
}

.blockGrayLCD {
	border-color: var(--grayLCDLight);
	background-color: var(--grayLCDDark);
}

.blockGreenCRT {
	border-color: var(--greenCRTDark);
	background-color: var(--greenCRTLight);
}

.blockAmberCRT {
	border-color: var(--amberCRTDark);
	background-color: var(--amberCRTLight);
}

.blockWhiteCRT {
	border-color: var(--whiteCRTDark);
	background-color: var(--whiteCRTLight);
}
