@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: rgb(50, 50, 50);
	color: #86ed07;
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	display: flex;
	justify-content: center;
	margin: 20px;
}

#uiContainer {
	min-width: 250px;
	width: 250px;
	display: flex;
	justify-content: center;
	background-color: rgb(30, 30, 30);
}

.gridSize {
	width: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.gridSize label, 
.gridSize p{
	text-align: center;
}

.gridSize input {
	background-color: #86ed07;
	color: #204e09;
}

.gridSize button {
	background-color: #204e09;
	color: #86ed07;
	font-weight: bolder;
	border: none;
	font-size: 18px;
	padding: 10px;
	margin-top: 5px;
}

.gridSize button:hover {
	background-color: #86ed07;
	color: #204e09;
}

#sketchContainer{
	background-color: #86ed07;
	border: 10px;
	border-style: solid;
	border-color: rgb(30, 30, 30);
	display: flex;
	flex-wrap: wrap;
	box-sizing: content-box;
	flex: 0 0 auto;
}

.block {
	background-color: #6bc600;
	border: 1px;
	border-style: solid;
	border-color: #86ed07;
	box-sizing: border-box;
}

.blockChangeColor {
	background-color: #204e09;
}